{% extends "base.html" %} {% load staticfiles %} {% block title %} 登录 {% endblock title %} {% block css %}
<style>
    body {
        background: #eee;
        color: #555;
        font-family: 'Microsoft YaHei', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: .9em;
        line-height: 2;
    }
    
    #info-input {
        background: rgba(255, 255, 255, .9);
        position: fixed;
        width: 60%;
        height: 50%;
        top: 10%;
        left: 20%;
    }
</style>
{% endblock css %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 mt-5">
            <h3> username: {{username}}</h3>
            <button class="col-sm-3 offset-sm-9 btn btn-sm btn-primary btn-block mt-3 mb-3" type="submit" id="create">create new room</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Room List</th>
                        <th scope="col">Room Name</th>
                        <th scope="col">Number</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %} {% if not room.full and not room.start %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{room.name}}</td>
                        <td>{{room.max_people}}</td>
                        <td>
                            {% if room.full %} Full {% else %}
                            <button class="btn btn-sm btn-primary enter" type="submit">enter</button> {% endif%}
                            <div style="display: none">{{room.pk}}</div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="info-input" style="display: none">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 mt-5">
                <div class="form-group row">
                    <h5 class="col-sm-4">Room Name</h5>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="room-name">
                    </div>
                </div>
                <div class="form-group row">
                    <h5 class="col-sm-4">Maximum Number</h5>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="max-num">
                    </div>
                </div>
                <div class="form-group row">
                    <h5 class="col-sm-4">Add Bot Number</h5>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="bot-num">
                    </div>
                </div>
                <button class="col-sm-4 offset-sm-2 btn btn-lg btn-primary mt-3" type="submit" id="cancel">Cancel</button>
                <button class="col-sm-4 offset-sm-1 btn btn-lg btn-primary mt-3" type="submit" id="submit">Create Room</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block js %}

<script>

    var time = setInterval("window.location.reload()", 4000);
    $("#create").click(function(e) {
        clearInterval(time);
        $("#info-input").fadeIn();
    });
    $("#cancel").click(function(e) {
        $("#info-input").fadeOut();
        time = setInterval("window.location.reload()", 4000);
    });
    $("#submit").click(function(e) {
        name = $("#room-name").val();
        num = $("#max-num").val();
        bot_num = $("#bot-num").val();
        $.ajax({
            type: "post",
            url: "./create_room/",
            data: {
                'name': name,
                'num': num,
                'bot_num': bot_num
            },
            dataType: "json",
            success: function(room_id) {
                $(location).attr("href", "./room/" + room_id);
            }
        });
    });
    $(".enter").click(function(e) {
        room_id = $(this).next().text();
        console.log(room_id)
        $.ajax({
            type: "post",
            url: "./enter_room/",
            data: {
                'room_id': room_id
            },
            dataType: "json",
            success: function(response) {
                $(location).attr("href", "./room/" + room_id);
            }
        });
    });
</script>

{% endblock js %}