{% load staticfiles %}
<div class="row" style="visibility:hidden">
    <div class="col-sm-6">
        <h5 class="text-center name"></h5>
    </div>
    <div class="col-sm-5 offset-sm-1">
        <h5 class="text-center status"></h5>
    </div>
    <div class="col-sm-6">
        <img class="card-img card0" src="{% static 'images/poker/NO.svg' %}">
    </div>
    <div class="col-sm-6">
        <img class="card-img card1" src="{% static 'images/poker/NO.svg' %}">
    </div>
    <div class="col-sm-3">
        <img class="coin" src="{% static 'images/coin.png' %}">
    </div>
    <div class="col-sm-3 pt-2 money">
            20000
    </div>
    <div class="col-sm-3">
        <img class="coin" src="{% static 'images/chip.svg' %}">
    </div>
    <div class="col-sm-3 pt-2 cur-raise">
        0
    </div>
    <div class="col-sm-3">
        <img class="coin" src="{% static 'images/total_coin.svg' %}">
    </div>
    <div class="col-sm-3 pt-2 win-money">
        0
    </div>
 
</div>