{% extends "base.html" %} {% load staticfiles %} {% block title %} 登录 {% endblock title %} {% block css %}
<style>
    body {
        background: #eee;
        color: #555;
        font-family: 'Microsoft YaHei', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: .9em;
        line-height: 2;
    }
</style>
{% endblock css %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 mt-5">
            <div class="text-center">
                <i class="fa fa-home fa-5x"></i>
            </div>

            <input type="username" class="form-control mt-3" placeholder="Username" id="username" required autofocus>
            <input type="password" class="form-control mt-3" placeholder="Password" id="password" required>
            <input type="password" class="form-control mt-3" placeholder="Repeat Password" id="password2" required>
            <a class="pull-right mt-2 mb-2" href="{% url 'poker:login' %}">
                Already a member? Sign in
            </a>
            <button class=" btn btn-lg btn-primary btn-block mt-4 " type="submit " id="submit">Create Account</button>
        </div>
    </div>
</div>
{% endblock content %} {% block js %}
<script>
    $("#submit").click(function(e) {
        username = $("#username").val();
        password = $("#password").val();
        password2 = $("#password2").val();
        if (isEmpty(username)) {
            swal({
                title: "username is empty",
                type: "error",
            });
        } else if (isEmpty(password) || isEmpty(password2)) {
            swal({
                title: "password is empty",
                type: "error",
            });
        } else if (password != password2) {
            swal({
                title: "Confirmation password is not identical",
                type: "error",
            });
        } else {
            $.ajax({
                type: "post",
                url: "./solve/",
                data: {
                    'username': username,
                    'password': password
                },
                dataType: "json",
                success: function(data) {
                    if (data == "2") {
                        swal({
                            title: "Username has been registered!",
                            type: "error",
                        });
                    }
                    if (data == "1") {
                        swal({
                                title: "Congratulation!",
                                type: "success",
                            },
                            function() {
                                window.location.href = "../login/";
                            });
                    }
                }
            });
        }
    });
</script>
{% endblock js %}