{% extends "base.html" %} {% load staticfiles %} {% block title %} 登录 {% endblock title %} {% block css %}
<style>
    body {
        background: #eee;
        color: #555;
        font-family: 'Microsoft YaHei', "PingFang SC", "Microsoft YaHei", sans-serif;
        font-size: .9em;
        line-height: 2;
    }
    
    #info-input {
        background: rgba(255, 255, 255, .9);
        position: fixed;
        width: 60%;
        height: 50%;
        top: 10%;
        left: 20%;
    }
</style>
{% endblock css %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 mt-5">
            <h3> username: {{username}}</h3>
            <h3> roomname: {{room.name}}</h3>
            <div class="row">
                <button class="col-sm-3 offset-sm-5 btn btn-sm btn-primary btn-block mt-3 mb-3" type="submit" id="start">start game</button>
                <button class="col-sm-3 offset-sm-1 btn btn-sm btn-primary btn-block mt-3 mb-3" type="submit" id="leave">leave room</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Member List</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in people %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{person.person.username}}</td>
                        <td>
                            <!-- <button class="btn btn-sm btn-primary" type="submit" id="enter">enter</button> -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %} {% block js %}

<script>
    var time = setInterval("window.location.reload()", 4000);
    $("#leave").click(function(e) {
        $.ajax({
            type: "post",
            url: "./leave_room/",
            success: function(response) {
                window.location.href = "../../";
            }
        });
    });
    var socket = new WebSocket("ws://" + window.location.href.split("//")[1] + "ws/");
    console.log(socket);
    window.s = socket;
    socket.onmessage = function(e) {
        window.location.href = "./game/";
    };
    $("#start").click(function(e) {
        window.s.send("start");
    });
    $(window).on("unload", function() {
        window.s.send('exit');
    });
</script>

{% endblock js %}